src/makingSoapCall/wsdl/calcPrice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n1="http://sap.com/xi/SAPGlobal20/Global" xmlns:n2="http://sap.com/xi/AP/Common/Global" xmlns:n3="http://sap.com/xi/BASIS/Global" xmlns:n4="http://sap.com/xi/AP/Common/GDT" xmlns:rfc="urn:sap-com:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sap.com/xi/AP/FO/PriceAndTax/Global" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/AP/FO/PriceAndTax/Global">
   <wsdl:documentation>
      <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
   </wsdl:documentation>
   <wsp:UsingPolicy wsdl:required="true" />
   <wsp:Policy wsu:Id="BN_BN_binding_SOAP12">
      <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true" />
      <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken>
                           <wsp:Policy>
                              <sp:HttpBasicAuthentication />
                           </wsp:Policy>
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128Rsa15 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict />
                     </wsp:Policy>
                  </sp:Layout>
               </wsp:Policy>
            </sp:TransportBinding>
         </wsp:All>
         <wsp:All>
            <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken>
                           <wsp:Policy>
                              <sp:RequireClientCertificate />
                           </wsp:Policy>
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128Rsa15 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict />
                     </wsp:Policy>
                  </sp:Layout>
               </wsp:Policy>
            </sp:TransportBinding>
         </wsp:All>
         <wsp:All>
            <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken>
                           <wsp:Policy>
                              <sapsp:HTTPSSO2 />
                           </wsp:Policy>
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128Rsa15 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict />
                     </wsp:Policy>
                  </sp:Layout>
               </wsp:Policy>
            </sp:TransportBinding>
         </wsp:All>
      </wsp:ExactlyOne>
      <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
   </wsp:Policy>
   <wsp:Policy wsu:Id="BN_BN_binding">
      <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true" />
      <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken>
                           <wsp:Policy>
                              <sp:HttpBasicAuthentication />
                           </wsp:Policy>
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128Rsa15 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict />
                     </wsp:Policy>
                  </sp:Layout>
               </wsp:Policy>
            </sp:TransportBinding>
         </wsp:All>
         <wsp:All>
            <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken>
                           <wsp:Policy>
                              <sp:RequireClientCertificate />
                           </wsp:Policy>
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128Rsa15 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict />
                     </wsp:Policy>
                  </sp:Layout>
               </wsp:Policy>
            </sp:TransportBinding>
         </wsp:All>
         <wsp:All>
            <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken>
                           <wsp:Policy>
                              <sapsp:HTTPSSO2 />
                           </wsp:Policy>
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128Rsa15 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict />
                     </wsp:Policy>
                  </sp:Layout>
               </wsp:Policy>
            </sp:TransportBinding>
         </wsp:All>
      </wsp:ExactlyOne>
      <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
   </wsp:Policy>
   <wsp:Policy wsu:Id="IF_IF_CalculatePriceIn">
      <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
         <sapsession:enableSession>false</sapsession:enableSession>
      </sapsession:Session>
      <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
         <sapcentraladmin:BusinessApplicationID>00163E010B991DDF9FD737AA5A0DE68A</sapcentraladmin:BusinessApplicationID>
      </sapcentraladmin:CentralAdministration>
   </wsp:Policy>
   <wsp:Policy wsu:Id="OP_IF_OP_CalculatePrice">
      <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
      <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
      <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
      <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      <sapidp:Idempotency xmlns:sapidp="http://www.sap.com/710/soap/features/idempotency/" xmlns:n0="http://schemas.xmlsoap.org/ws/2004/09/policy" n0:Optional="true" />
   </wsp:Policy>
   <wsdl:types>
      <xsd:schema xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/PriceAndTax/Global" xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" targetNamespace="http://sap.com/xi/SAPGlobal20/Global">
         <xsd:import namespace="http://sap.com/xi/AP/FO/PriceAndTax/Global" />
         <xsd:element name="CalculatePricesRequest_sync" type="xi2:CalculatePricesRequestElements" />
         <xsd:element name="CalculatePricesResponse_sync" type="xi2:CalculatePricesResponse" />
      </xsd:schema>
      <xsd:schema xmlns="http://sap.com/xi/AP/Common/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/PriceAndTax/Global" xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" targetNamespace="http://sap.com/xi/AP/Common/Global">
         <xsd:import namespace="http://sap.com/xi/AP/Common/GDT" />
         <xsd:complexType name="ExchangeFaultData">
            <xsd:sequence>
               <xsd:element name="faultText" type="xsd:string" />
               <xsd:element name="faultUrl" type="xsd:string" minOccurs="0" />
               <xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ExchangeLogData">
            <xsd:sequence>
               <xsd:element name="severity" type="xsd:string" minOccurs="0" />
               <xsd:element name="text" type="xsd:string" />
               <xsd:element name="url" type="xsd:string" minOccurs="0" />
               <xsd:element name="id" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="StandardFaultMessageExtension">
            <xsd:sequence>
               <xsd:element name="Log" type="xi4:Log" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="StandardFaultMessage">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="standard" type="ExchangeFaultData" />
                  <xsd:element name="addition" type="StandardFaultMessageExtension" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
      <xsd:schema xmlns="http://sap.com/xi/AP/FO/PriceAndTax/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/PriceAndTax/Global" xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" targetNamespace="http://sap.com/xi/AP/FO/PriceAndTax/Global">
         <xsd:import namespace="http://sap.com/xi/AP/Common/GDT" />
         <xsd:complexType name="CalculatePricesRequest">
            <xsd:sequence>
               <xsd:element name="Application" type="xi4:PriceSpecificationElementPropertyDefinitionClassCode" minOccurs="0" />
               <xsd:element name="CurrencyCode" type="xi4:CurrencyCode" minOccurs="0" />
               <xsd:element name="GrossPricingIndicator" type="xi4:Indicator" minOccurs="0" />
               <xsd:element name="PricingDate" type="xi4:Date" minOccurs="0" />
               <xsd:element name="AccountID" type="xi4:BusinessPartnerInternalID" minOccurs="0" />
               <xsd:element name="SalesOrganisationID" type="xi4:OrganisationalCentreID" minOccurs="0" />
               <xsd:element name="DistributionChannel" type="xi4:DistributionChannelCode" minOccurs="0" />
               <xsd:element name="CampaignID" type="xi4:BusinessTransactionDocumentID" minOccurs="0" />
               <xsd:element name="CompanyID" type="xi4:OrganisationalCentreID" minOccurs="0" />
               <xsd:element name="IncotermsClassificationCode" type="xi4:IncotermsClassificationCode" minOccurs="0" />
               <xsd:element name="IncotermsTransferLocationName" type="xi4:IncotermsTransferLocationName" minOccurs="0" />
               <xsd:element name="Item" type="CalculatePricesRequestItemElement" maxOccurs="unbounded" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CalculatePricesRequestElements">
            <xsd:sequence>
               <xsd:element name="CalculatePricesRequest" type="CalculatePricesRequest" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CalculatePricesRequestItemElement">
            <xsd:sequence>
               <xsd:element name="ID" type="xi4:BusinessTransactionDocumentItemID" minOccurs="0" />
               <xsd:element name="ProductID" type="xi4:ProductInternalID" minOccurs="0" />
               <xsd:element name="ProductTypeCode" type="xi4:ProductTypeCode" minOccurs="0" />
               <xsd:element name="Quantity" type="xi4:Quantity" minOccurs="0" />
               <xsd:element name="QuantityTypeCode" type="xi4:QuantityTypeCode" minOccurs="0" />
               <xsd:element name="ContractItemUUID" type="xi4:UUID" minOccurs="0" />
               <xsd:element name="ProductCategoryID" type="xi4:ProductCategoryInternalID" minOccurs="0" />
               <xsd:element name="SupplierID" type="xi4:BusinessPartnerInternalID" minOccurs="0" />
               <xsd:element name="ServiceWorkingConditionsCode" type="xi4:ServiceWorkingConditionsCode" minOccurs="0" />
               <xsd:element name="ItemProcessingTypeCode" type="xi4:BusinessTransactionDocumentItemProcessingTypeCode" minOccurs="0" />
               <xsd:element name="WarrantyGoodwillCode" type="xi4:WarrantyGoodwillCode" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CalculatePricesResponse">
            <xsd:sequence>
               <xsd:element name="Item" type="CalculatePricesResponseItemElements" minOccurs="0" maxOccurs="unbounded" />
               <xsd:element name="Log" type="xi4:Log" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CalculatePricesResponseItemElements">
            <xsd:sequence>
               <xsd:element name="ID" type="xi4:BusinessTransactionDocumentItemID" minOccurs="0" />
               <xsd:element name="ProductID" type="xi4:ProductInternalID" minOccurs="0" />
               <xsd:element name="ProductType" type="xi4:ProductTypeCode" minOccurs="0" />
               <xsd:element name="NetPrice" type="xi4:Rate" minOccurs="0" />
               <xsd:element name="NetValue" type="xi4:Rate" minOccurs="0" />
               <xsd:element name="GrossPrice" type="xi4:Rate" minOccurs="0" />
               <xsd:element name="GrossValue" type="xi4:Rate" minOccurs="0" />
               <xsd:element name="Freight" type="xi4:Rate" minOccurs="0" />
               <xsd:element name="NetValueWithoutFreight" type="xi4:Rate" minOccurs="0" />
               <xsd:element name="NetPriceWithoutFreight" type="xi4:Rate" minOccurs="0" />
               <xsd:element name="PriceComponents" type="CalculatePricesResponsePriceComponentsElements" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CalculatePricesResponsePriceComponentsElements">
            <xsd:sequence>
               <xsd:element name="ConditionType" type="xi4:PriceSpecificationElementTypeCode" minOccurs="0" />
               <xsd:element name="ConditionDescription" type="PriceSpecificationElementString" minOccurs="0" />
               <xsd:element name="ConditionRate" type="xi4:DecimalValue" minOccurs="0" />
               <xsd:element name="CurrencyCode" type="xi4:CurrencyCode" minOccurs="0" />
               <xsd:element name="QuantitySymbol" type="xi4:Quantity" minOccurs="0" />
               <xsd:element name="QuantityUnitOfMeasure" type="xi4:QuantityTypeCode" minOccurs="0" />
               <xsd:element name="ConditionValue" type="xi4:DecimalValue" minOccurs="0" />
               <xsd:element name="PriceListID" type="xi4:SalesPriceListID" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="PriceSpecificationElementString">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string" />
         </xsd:simpleType>
      </xsd:schema>
      <xsd:schema xmlns="http://sap.com/xi/BASIS/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/PriceAndTax/Global" xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" targetNamespace="http://sap.com/xi/BASIS/Global">
         <xsd:simpleType name="AgencyIdentificationCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="1" />
               <xsd:enumeration value="5" />
               <xsd:enumeration value="6" />
               <xsd:enumeration value="16" />
               <xsd:enumeration value="17" />
               <xsd:enumeration value="84" />
               <xsd:enumeration value="107" />
               <xsd:enumeration value="109" />
               <xsd:enumeration value="112" />
               <xsd:enumeration value="113" />
               <xsd:enumeration value="114" />
               <xsd:enumeration value="116" />
               <xsd:enumeration value="117" />
               <xsd:enumeration value="124" />
               <xsd:enumeration value="130" />
               <xsd:enumeration value="131" />
               <xsd:enumeration value="138" />
               <xsd:enumeration value="142" />
               <xsd:enumeration value="146" />
               <xsd:enumeration value="262" />
               <xsd:enumeration value="296" />
               <xsd:enumeration value="310" />
               <xsd:maxLength value="3" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:schema>
      <xsd:schema xmlns="http://sap.com/xi/AP/Common/GDT" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/PriceAndTax/Global" xmlns:xi3="http://sap.com/xi/BASIS/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" targetNamespace="http://sap.com/xi/AP/Common/GDT">
         <xsd:import namespace="http://sap.com/xi/BASIS/Global" />
         <xsd:simpleType name="BusinessPartnerInternalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BusinessTransactionDocumentID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="BusinessTransactionDocumentID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencySchemeAgencyID" type="xi3:AgencyIdentificationCode" />
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="BusinessTransactionDocumentID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="35" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="BusinessTransactionDocumentItemID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="BusinessTransactionDocumentItemProcessingTypeCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="4" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CurrencyCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="3" />
               <xsd:minLength value="3" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="Date">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:date">
               <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="DecimalValue">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:decimal">
               <xsd:totalDigits value="31" />
               <xsd:fractionDigits value="14" />
               <xsd:maxInclusive value="99999999999999999.99999999999999" />
               <xsd:minInclusive value="-99999999999999999.99999999999999" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="DistributionChannelCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="DistributionChannelCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="DistributionChannelCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="2" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="IncotermsClassificationCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="3" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="IncotermsTransferLocationName">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="28" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="Indicator">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:boolean" />
         </xsd:simpleType>
         <xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string" />
         </xsd:simpleType>
         <xsd:complexType name="Log">
            <xsd:sequence>
               <xsd:element name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode" minOccurs="0" />
               <xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode" minOccurs="0" />
               <xsd:element name="Item" type="LogItem" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="LogItem">
            <xsd:sequence>
               <xsd:element name="TypeID" type="LogItemTypeID" minOccurs="0" />
               <xsd:element name="CategoryCode" type="LogItemCategoryCode" minOccurs="0" />
               <xsd:element name="SeverityCode" type="LogItemSeverityCode" minOccurs="0" />
               <xsd:element name="ReferenceObjectNodeSenderTechnicalID" type="ObjectNodePartyTechnicalID" minOccurs="0" />
               <xsd:element name="ReferenceMessageElementName" type="LANGUAGEINDEPENDENT_Name" minOccurs="0" />
               <xsd:element name="Note" type="LogItemNote" />
               <xsd:element name="NoteTemplateText" type="LogItemNoteTemplateText" minOccurs="0" />
               <xsd:element name="LogItemNotePlaceholderSubstitutionList" type="LogItemNotePlaceholderSubstitutionList" minOccurs="0" />
               <xsd:element name="WebURI" type="WebURI" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="LogItemCategoryCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="LogItemCategoryCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listVersionID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="15" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeAgencyID" type="xi3:AgencyIdentificationCode" />
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="LogItemCategoryCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="15" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemNote">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="200" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
            <xsd:sequence>
               <xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID" />
               <xsd:element name="SecondPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0" />
               <xsd:element name="ThirdPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0" />
               <xsd:element name="FourthPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0" />
               <xsd:element name="FirstPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" />
               <xsd:element name="SecondPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" minOccurs="0" />
               <xsd:element name="ThirdPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" minOccurs="0" />
               <xsd:element name="FourthPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="LogItemNoteTemplateText">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="73" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemPlaceholderSubstitutionText">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="50" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemSeverityCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="1" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemTemplatePlaceholderID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:length value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemTypeID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="40" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="MeasureUnitCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="3" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ObjectNodePartyTechnicalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="70" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="OrganisationalCentreID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="20" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="PriceSpecificationElementPropertyDefinitionClassCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="PriceSpecificationElementPropertyDefinitionClassCode.Content">
                  <xsd:attribute name="listVersionID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="15" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="PriceSpecificationElementPropertyDefinitionClassCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="2" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="PriceSpecificationElementTypeCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="PriceSpecificationElementTypeCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="PriceSpecificationElementTypeCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="4" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ProcessingResultCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="2" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ProductCategoryInternalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="20" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ProductInternalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="ProductInternalID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="ProductInternalID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="40" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ProductTypeCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="2" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="Quantity">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="Quantity.Content">
                  <xsd:attribute name="unitCode" type="MeasureUnitCode" />
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="Quantity.Content">
            <xsd:restriction base="xsd:decimal">
               <xsd:totalDigits value="31" />
               <xsd:fractionDigits value="14" />
               <xsd:maxInclusive value="99999999999999999.99999999999999" />
               <xsd:minInclusive value="-99999999999999999.99999999999999" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="QuantityTypeCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="QuantityTypeCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listVersionID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="15" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeAgencyID" type="xi3:AgencyIdentificationCode" />
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="QuantityTypeCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="Rate">
            <xsd:sequence>
               <xsd:element name="DecimalValue" type="DecimalValue" />
               <xsd:element name="MeasureUnitCode" type="MeasureUnitCode" minOccurs="0" />
               <xsd:element name="CurrencyCode" type="CurrencyCode" minOccurs="0" />
               <xsd:element name="BaseDecimalValue" default="1" type="DecimalValue" minOccurs="0" />
               <xsd:element name="BaseMeasureUnitCode" type="MeasureUnitCode" minOccurs="0" />
               <xsd:element name="BaseCurrencyCode" type="CurrencyCode" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="SalesPriceListID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="SalesPriceListID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="SalesPriceListID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="60" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ServiceWorkingConditionsCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="ServiceWorkingConditionsCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="ServiceWorkingConditionsCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="4" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="UUID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="UUID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="UUID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="36" />
               <xsd:minLength value="36" />
               <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="WarrantyGoodwillCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="WarrantyGoodwillCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60" />
                           <xsd:minLength value="1" />
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="WarrantyGoodwillCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="2" />
               <xsd:minLength value="1" />
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="WebURI">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:anyURI" />
         </xsd:simpleType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="CalculatePricesRequest_sync">
      <wsdl:part name="CalculatePricesRequest_sync" element="n1:CalculatePricesRequest_sync" />
   </wsdl:message>
   <wsdl:message name="CalculatePricesResponse_sync">
      <wsdl:part name="CalculatePricesResponse_sync" element="n1:CalculatePricesResponse_sync" />
   </wsdl:message>
   <wsdl:message name="StandardFaultMessage">
      <wsdl:part name="StandardFaultMessage" element="n2:StandardFaultMessage" />
   </wsdl:message>
   <wsdl:portType name="CalculatePriceIn">
      <wsdl:documentation>
         <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
            <sapdoc:docitem applicationComponent="AP-PRC-PC" />
         </sapdoc:sapdoc>
      </wsdl:documentation>
      <wsp:Policy>
         <wsp:PolicyReference URI="#IF_IF_CalculatePriceIn" />
      </wsp:Policy>
      <wsdl:operation name="CalculatePrice">
         <wsp:Policy>
            <wsp:PolicyReference URI="#OP_IF_OP_CalculatePrice" />
         </wsp:Policy>
         <wsdl:input message="tns:CalculatePricesRequest_sync" />
         <wsdl:output message="tns:CalculatePricesResponse_sync" />
         <wsdl:fault name="StandardFaultMessage" message="tns:StandardFaultMessage" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="binding_SOAP12" type="tns:CalculatePriceIn">
      <wsp:Policy>
         <wsp:PolicyReference URI="#BN_BN_binding_SOAP12" />
      </wsp:Policy>
      <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <wsdl:operation name="CalculatePrice">
         <wsoap12:operation soapAction="http://sap.com/xi/AP/FO/PriceAndTax/Global/CalculatePriceIn/CalculatePriceRequest" style="document" />
         <wsdl:input>
            <wsoap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <wsoap12:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="StandardFaultMessage">
            <wsoap12:fault name="StandardFaultMessage" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="binding" type="tns:CalculatePriceIn">
      <wsp:Policy>
         <wsp:PolicyReference URI="#BN_BN_binding" />
      </wsp:Policy>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <wsdl:operation name="CalculatePrice">
         <soap:operation soapAction="http://sap.com/xi/AP/FO/PriceAndTax/Global/CalculatePriceIn/CalculatePriceRequest" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="StandardFaultMessage">
            <soap:fault name="StandardFaultMessage" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="service">
      <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
         <wsoap12:address location="https://h32-cust120.dev.sapbydesign.com/sap/bc/srt/scs/sap/calculatepricein?sap-vhost=h32-cust120.dev.sapbydesign.com" />
      </wsdl:port>
      <wsdl:port name="binding" binding="tns:binding">
         <soap:address location="https://h32-cust120.dev.sapbydesign.com/sap/bc/srt/scs/sap/calculatepricein?sap-vhost=h32-cust120.dev.sapbydesign.com" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>